<div class="text-center">
  <h1>Things to Do</h1>
  <div class="row">

    <%= link_to "http://billingsfarm.org/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="farm_card">
          <div class="ribbon">
            <h3> Visit Billings Farm </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Like going on vacation, but hate relaxing? Billings Farm is looking for
          farmhands in the guise of an "educational tour." Build a split rail fence,
          wash laundry the old-fashioned way, sample some farm-made cheese, ice cream,
          or sneak a nibble of hay to see what all the fuss is about. This photo was labelled
          "Baby Sweater Sheep"--gawww.
        </p>
      </div>
    <% end %>

    <%= link_to "https://www.nps.gov/mabi/planyourvisit/upload/Faulkner-Trail.pdf", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="tom_card">
          <div class="ribbon">
            <h3> Hike Mount Tom </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Find the tallest guest at the wedding, call him Tom until he stops correcting you,
          and climb your way to the top! You'll discover panoramic views of Woodstock,
          if Tom is in Woodstock when you climb him, cause he's at most six-foot-four and he'll
          be squirming a lot.
        </p>
      </div>
    <% end %>

    <%= link_to "https://www.nps.gov/mabi/planyourvisit/mansion-and-gardens.htm", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="rockefeller_card">
          <div class="ribbon">
            <h3> Tour Marsh-Billings-Rockefeller Mansion </h3>
          </div>
        </div>
        <p class="accomodation_description">
          William Ralph Emerson designed the mansion, Henry Hudson Holly redesigned it,
          and Robert Morris Copeland designed the grounds. Basically, if you don't go by
          three names, don't bother showing up.
        </p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "https://www.farmhousepottery.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="farmhouse_card">
          <div class="ribbon">
            <h3> Drop Some Dough at Farmhouse Pottery </h3>
          </div>
        </div>
        <p class="accomodation_description">
          It sounds quaint, but it's  more expensive than Williams-Sonoma.
        </p>
      </div>
    <% end %>

    <%= link_to "https://www.woodstockvt.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="woodstock_card">
          <div class="ribbon">
            <h3> Visit Woodstock </h3>
          </div>
        </div>
        <p class="accomodation_description">
          In fact, there are many expensive stores in Woodstock. Not sure why
          Farmhouse Pottery got a special shout-out. I bet Betsy has some sort of
          referral deal with them. Hey, speaking of referrals, if you want to try
          a spin class in Cambridge:
        </p>
      <% end %>
      <p>
        <a class="accomodation_description" href="https://www.perkville.com/biz/7249/referral/11241246/?r=3">CLICK HERE</a>
      </p>
    </div>

    <%= link_to "http://www.twinfarms.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="barnard_card">
          <div class="ribbon">
            <h3> Visit Barnard </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Vermont has lots of towns, so we can't list them all! But we can list
          some of them! There's a lake to swim in, but last time I swam in a lake,
          I was itchy for a week aftewards. I'm sure you'll be fine though.
        </p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "http://www.woodstockinn.com/golf-club", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="golf_card">
          <div class="ribbon">
            <h3> Play Some Golf </h3>
          </div>
        </div>
        <p class="accomodation_description">
          How will you get the President's ear if you can't play a round of golf?
          Through Twitter? Wire-tapping? Staying at one of his hotels that's in D.C.
          and run by his family and not in a blind trust?
        </p>
      </div>
    <% end %>

    <%= link_to "http://overlookbicycles.com/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="bike_card">
          <div class="ribbon">
            <h3> Ride a Bike </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Eh, this is actually a good idea.
        </p>
      </div>
    <% end %>

    <%= link_to "http://www.woodstockinn.com/resort/recreation/woodstock-athletic-club-memberships", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="gym_card">
          <div class="ribbon">
            <h3> Workout at the Woodstock Athletic Club </h3>
          </div>
        </div>
        <p class="accomodation_description">
          I bet you could use a break from all that fresh air. Work out indoors at the Woodstock
          Athletic Club! If you're not sick of the fresh air yet, reserve a tennis court before
          you get there and score some points or something. Does that picture make anyone else uneasy?
        </p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "http://www.newenglandwaterfalls.com/vt-buttermilkfalls-ludlow.html", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="waterfall_card">
          <div class="ribbon">
            <h3> Swim Buttermilk Falls </h3>
          </div>
        </div>
        <p class="accomodation_description">
          NewEnglandWaterfalls.com calls the swimming "outstanding" and says it's "excellent," but
          somehow only gives it four out of five stars. I can't imagine something being better
          than "excellent." Maybe, like me, they were disappointed to find out that it's
          made out of water and not buttermilk.
        </p>
      </div>
    <% end %>

    <%= link_to "http://www.hanoverchamber.org/", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="hanover_card">
          <div class="ribbon">
            <h3> Visit Hanover </h3>
          </div>
        </div>
        <p class="accomodation_description">
          Betsy calls it "almost as charming" as Woodstock, but she's a harsher critic
          than those hacks at NewEnglandWaterfalls.com.
        </p>
      </div>
    <% end %>

    <%= link_to "https://www.nhstateparks.org/visit/state-parks/wellington-state-park.aspx", target: "blank" do %>
      <div class="col-md-4">
        <div class="card text-center" id="park_card">
          <div class="ribbon">
            <h3> Visit Wellington State Park </h3>
          </div>
        </div>
        <p class="accomodation_description">
          An hour away from Woodstock, so skip the wedding, rent a kayak, go fishing, and do
          some grilling!
        </p>
      </div>
    <% end %>
  </div>
</div>
