<div class="text-center">
  <h1>Frequently Asked Questions</h1>
  <%= image_tag 'decoration.jpg', width: '150px' %>
  <h2>What do I wear?</h2>
  <p>As this is an outdoor wedding, we do not recommend heels. We also expressly
    forbid wearing Teenage Mutant Ninja Turtle attire, bridal gowns from your own
    wedding, and bridal gowns from other people's weddings.</p>
  <p>
  <%= image_tag 'decoration.jpg', width: '100px' %>
  <h2>How do I get to the event?</h2>
  <p>There is no parking at the venue. Shuttles will be made available to guests
    staying at the Shire and the Quality Inn <%= link_to '(see here)', accomodations_path %>,
    but not to those staying at the campgrounds--those guys can walk barefoot
    to the wedding along the highway, as they already planned.</p>
  <%= image_tag 'decoration.jpg', width: '100px' %>
  <h2>Can I bring a gift that's not on the registry?</h2>
  <p>Are you sure you want to do that? Just don't get them any more cheese knives;
    they have enough.</p>
  <%= image_tag 'decoration.jpg', width: '100px' %>
  <h2>What happens if it rains on the wedding day?</h2>
  <p>Then someone will bring up that Alanis Morissette song and someone else will
  say, "You know, rain on your wedding day isn't actually ironic," and then I'll say,
  "Yeah, the song's been out for twenty years. We've figured that out already,"
  and there will be some uncomfortable silence and we'll grip our umbrellas a little tighter.</p>
  <br>
  <p>More info to come...<p>
</div>
