<div class="row">
  <div class="text-center">
    <div id="banner">
      <div class="row">
      <div class="col-md-12">
        <h1>Sarah and Andy's Wedding</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Saturday September 2, 2017</h1>
      </div>
      </div>
    </div>
  </div>
</div>


  <%= link_to story_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="story_card">
        <div class="ribbon">
          <h3> Their Story </h3>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to venue_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="location_card">
        <div class="ribbon">
          <h3> The Venue </h3>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to registry_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="registry_card">
        <div class="ribbon">
          <h3> Wedding Registry </h3>
        </div>
      </div>
    </div>
  <% end %>


  <%= link_to party_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="party_card">
        <div class="ribbon">
          <h3> Wedding Party </h3>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to accomodations_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="accomodations_card">
        <div class="ribbon">
          <h3> Accomodations </h3>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to itinerary_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="itinerary_card">
        <div class="ribbon">
          <h3> Wedding Day </h3>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to activities_path do %>
    <div class="col-md-4">
      <div class="card text-center" id="activities_card">
        <div class="ribbon">
          <h3> Things to Do </h3>
        </div>
      </div>
    </div>
  <% end %>
