<div class="text-center">
  <h1>Wedding Party</h1>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h2>Adam</h2>
    <%= image_tag("wedding_party.png", class: "card")%>
    <p>
      Man of honor, friends since kindergarten, most likely to live next door to
      Sarah when they are both old … though they haven’t lived in the same state
      since college
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Amanda </h2>
    <%= image_tag("amanda.png", class: "card")%>
    <p>
      1/3 of the freshman triple, current winner of most extroverted friend, badass lawyer
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Andy </h2>
    <%= image_tag("andy.png", class: "card")%>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h2> Anne </h2>
    <%= image_tag("anne.png", class: "card")%>
    <p>
      Also voyaged across the country after college to work for Epic, responsible
      for getting Sarah out of her house and having fun in Madison
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Dena </h2>
    <%= image_tag("dena.png", class: "card")%>
    <p>
      Fellow Epic-er, game enthusiast, and 1/2 of the couple Sarah third-wheeled for three years in Madison
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Drew </h2>
    <%= image_tag("drew.png", class: "card")%>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h2> Ellen </h2>
    <%= image_tag("ellen.png", class: "card")%>
    <p>
      1/3 of the freshman triple, cut-throat card player, fellow introvert, most
      likely to approach problems through baking, spirit animal
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> John </h2>
    <%= image_tag("john.png", class: "card")%>
    <p>
      Fellow WHS graduate – though didn’t become real friends with Sarah until he
      moved to Madison with Dena, 1/2 of the couple Sarah third-wheeled for three years in Madison
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Kyle </h2>
    <%= image_tag("kyle.png", class: "card")%>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h2> Luke </h2>
    <%= image_tag("luke.png", class: "card")%>
    <p>
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Nick </h2>
    <%= image_tag("nick.png", class: "card")%>
    <p>
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Steve </h2>
    <%= image_tag("steve.png", class: "card")%>
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center col-md-offset-2">
    <h2> Tim </h2>
    <%= image_tag("tim.png", class: "card")%>
    <p>
    </p>
  </div>

  <div class="col-md-4 text-center">
    <h2> Paige </h2>
    <%= image_tag("paige.png", class: "card")%>
    <p>
      Cousin extraordinaire, responsible for getting Andy and Sarah on their
      first date, all around wonderful human
    </p>
  </div>
</div>
