<div class="text-center">
  <h1>Things to Eat</h1>
  <div class="row">

      <div class="col-md-4 text-center">
        <%= link_to "http://worthyvermont.com/worthy-kitchen/worthy-kitchen-menu.html", target: "blank", class: "link_card" do %>
        <div class="home_card" id="worthy_card">
          <div class="ribbon">
            <h3> Worthy Kitchen </h3>
            <h4> Woodstock, VT </h4>
            <p>
              Thing Sarah would order off the menu: Truffle Fries<br>
              Thing Sarah would not order: Poutine<br>
              Thing Andy would not order: whatever Sarah orders
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 text-center">
        <%= link_to "http://thedowntowngrocery.com/index.php?mode=food", target: "blank", class: "link_card" do %>
        <div class="home_card" id="downtown_card">
          <div class="ribbon">
            <h3> The Downtown Grocery </h3>
            <h4> Ludlow, VT </h4>
            <p>
              Dessert Sarah would order: Late Night Breakfast<br>
              Dessert Sarah would not order: Banana Pudding<br>
              Dessert Andy would order: Ham & Cheese (Why is this a dessert? Andy would want to know.)<br>
              Dessert Andy would not order: whatever Sarah orders
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 text-center">
        <%= link_to "http://cloudlandfarm.com/", target: "blank", class: "link_card" do %>
        <div class="home_card" id="cloudland_card">
          <div class="ribbon">
            <h3> Cloudland Farm </h3>
            <h4> North Pomfret, VT </h4>
            <p>
              We'll be arriving just in time to reserve turkeys for Thanksgiving!
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 text-center">
        <%= link_to "https://www.yelp.com/biz/south-woodstock-country-store-woodstock", target: "blank", class: "link_card" do %>
        <div class="home_card" id="country_card">
          <div class="ribbon">
            <h3>South Woodstock Country Store</h3>
            <h4>Woodstock, VT</h4>
            <p>
              Only $6 for egg avocado sandwiches means more money in millenials' pockets for buying a home
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 text-center">
        <%= link_to "http://barnardinn.com/menu", target: "blank", class: "link_card" do %>
        <div class="home_card" id="max_card">
          <div class="ribbon">
            <h3> Barnard Inn Restaurant & Max's Tavern </h3>
            <h4> Woodstock, VT </h4>
            <p>
              Order the Sloppy June, named after the chef's youngest daughter,
              when she failed to color with within the lines.
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 text-center">
        <%= link_to "http://longtrail.com/visit-us/menu", target: "blank", class: "link_card" do %>
        <div class="home_card" id="longtrail_card">
          <div class="ribbon">
            <h3> Long Trail Brewing Company </h3>
            <h4> Bridgewater Corners, VT </h4>
            <p>
              Try the Ale Braised Brat, also named after the chef's youngest daughter.
            </p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 text-center">
        <%= link_to "http://www.woodstockinn.com/resort/dining", target: "blank", class: "link_card" do %>
        <div class="home_card" id="redrooster_card">
          <div class="ribbon">
            <h3> Woodstock Inn </h3>
            <h4> Woodstock, VT </h4>
            <p>
              Several restaurants, most of which are too fancy for me.
            </p>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-md-4 col-md-offset-4 text-center">
        <%= link_to "http://www.keeperscafe.com/", target: "blank", class: "link_card" do %>
        <div class="home_card" id="keepers_card">
          <div class="ribbon">
            <h3> Keeper's A Country Cafe </h3>
            <h4> Reading, VT </h4>
            <p>
              I added one without Betsy's approval. Let's see if she notices.
            </p>
          </div>
        </div>
        <% end %>
      </div>
  </div>

</div>
